watch_file pixi.lock
eval "$(pixi shell-hook)"

export CUDA_DEVICE_ORDER=PCI_BUS_ID
if [ -z "$CUDA_VISIBLE_DEVICES" ]; then
    CUDA_VISIBLE_DEVICES=$(
        nvidia-smi --query-gpu=name,index --format=csv,nounits,noheader |
            grep 4090 | cut --delimiter="," --fields=2 | tr --delete " "
    )
    export CUDA_VISIBLE_DEVICES
fi
if [ -n "$NIX_LD_LIBRARY_PATH" ]; then
    export TRITON_LIBCUDA_PATH=/run/opengl-driver/lib
fi
export ACCELERATE_TORCH_DEVICE=cuda
