# --- PyTorch ---
torchvision
torch
networkx

# --- JAX ---
flax
jax
jaxlib
jaxopt
jaxtyping
optax

# --- Huggingface ---
diffusers
huggingface-hub
transformers

ipython
jupyter
numpy
pandas
psutil
pytest
pyyaml
rich
scipy
seaborn
threadpoolctl
tqdm
types-pyyaml
wandb
zstandard